body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  box-sizing: border-box;
  padding: 5px 20px;
  background: #fff;
  border: 1px solid lightslategrey;
  color: lightslategrey;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;
}

button:hover {
  background: lightcoral;
  border-color: #fff;
  color: #fff;
  transition: .5s;
}

input, textarea {
  box-sizing: border-box;
  padding: 5px 20px;
  color: lightslategrey;
  border: 1px solid lightslategrey;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 20px;
  color: lightslategrey;
}

.card-container .card-item {
  box-sizing: border-box;
  border: 1px solid lightslategrey;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  padding: 10px;
}

.list-container .list-item {
  transition: .5s;
  cursor: pointer;
}

.list-container .list-item:hover,
.card-container .card-item:hover {
  color: lightcoral;
  transition: .5s;
}

.card-container .card-item .title {
  font-size: 1.5rem;
}

.card-container .card-item .content {
  /* 내용이 늘어날 수 있으며, 여백은 유지 되어야 함. */
  padding: 20px 10px;
  font-size: 1.1rem;
}

.card-container .card-item .meta {
  font-size: .8rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.list-container .list-item {
  padding: 10px 0;
}
